h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}
html {
    height: 100%;
    margin: 0;
}
@keyframes text-gradientText {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.animated-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10vh;
}
.animated-text {
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}
.animated-text:hover {
    border-radius: 2vh;
    transform: scale(1.01); 
    filter: brightness(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}
.animated-text {
    /* background: linear-gradient(90deg, #667eea 0%, #764ba2 50%, #667eea 100%); */
    background: linear-gradient();
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: text-gradientText 3s linear 3;
    animation-delay: 0s;
}
body {
    background-image: linear-gradient(to bottom, #d2f96f84, #1f1f1fb1, #0e100a83, #a2a2a276, #ffffff8d),url(https://i.pinimg.com/1200x/27/8e/a8/278ea85ceebe2dd36f8f0f37ac25a2bf.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}
#main-page {
    width: 100%;
    column-gap: 20px;
    column-count: 5; 
}
.palette-item {
    display: inline-block; 
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
img {     
    border-radius: 2vh;
    width: 100%; 
    display: block;
    cursor: pointer;
}
/* hover-effect */
.palette-item {
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}
.palette-item:hover {
    border-radius: 2vh;
    transform: scale(1.01); 
    filter: brightness(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}
.caption {
    color: white;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
li {
    list-style: none;
}
h4 {
    cursor: text;
}



/* --- RESPONSIVE BREAKPOINTS --- */
/* For Tablets (approx 1024px and down) */
@media (max-width: 1024px) {
    #main-page {
        column-count: 3;
    }
}
/* For Mobile Phones (approx 600px and down) */
@media (max-width: 600px) {
    #main-page {
        column-count: 1; 
    }
}