h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}
html {
    height: 100%;
    margin: 0;
}
@keyframes text-gradientText {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.animated-text{
    margin-top: 0;
    margin-left: 45vh;
    font-family:unset;
    font-size: 10vh;
    cursor: pointer;
    width: 100vh;
}
#header{
    background-image:url(https://i.pinimg.com/736x/ca/42/32/ca423219fc5e6e8a89d3589918870fc0.jpg);
    width: 50vh;
    margin-left: 70vh;
    border-radius: 1vh;
    color: whitesmoke;
}
    
body {
    background-image: linear-gradient(to bottom, #d2f96f84, #1f1f1fb1, #0e100a83, #a2a2a276, #ffffff8d),url(https://i.pinimg.com/1200x/27/8e/a8/278ea85ceebe2dd36f8f0f37ac25a2bf.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}
#main-page {
    width: 100%;
    column-gap: 20px;
    column-count: 5; 
}
.palette-item {
    display: inline-block; 
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
img {     
    border-radius: 2vh;
    width: 100%; 
    display: block;
    cursor: pointer;
}
/* hover-effect */
.palette-item {
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}
.palette-item:hover {
    border-radius: 2vh;
    transform: scale(1.01); 
    filter: brightness(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}
.caption {
    color: white;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
li {
    list-style: none;
}
h4 {
    cursor: text;
}
#footer{
    background-image: url(https://i.pinimg.com/736x/1b/7d/72/1b7d72feca398bfbad2916f1ecf25a87.jpg);
    border-radius: 3vh;
}
#footer a,p{
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}
#inside{
    margin-left: 0vh;
    gap: 2px;
}


/* --- RESPONSIVE BREAKPOINTS --- */
/* For Tablets (approx 1024px and down) */
@media (max-width: 1024px) {
    #main-page {
        column-count: 3;
    }
}
/* For Mobile Phones (approx 600px and down) */
@media (max-width: 600px) {
    #main-page {
        column-count: 1; 
    }
}